#share-screen video{
    background-color: black;
    width: 100%;
    height: 500px;
}

.red{
    color: rgb(247, 71, 94);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box{
    width: 100%;
    border: 2px solid green;
    border-radius: 4px;
}

video {
    background-color: black;
}

.span-inline-block{
    display:inline-block;
    max-width: 150px;
}

.label{
    position: absolute;
    top: 1px;
    left: 1px;
}