<div class="form-signin">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="text-center">
            <img class="mb-4" src="./assets/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control"
                [class.is-invalid]='loginForm.get("userName")!.errors && loginForm.get("userName")!.touched'
                formControlName='userName' id="floatingInput" placeholder="Username">
            <label for="floatingInput">Username</label>
            <div class="invalid-feedback" *ngIf="loginForm.get('userName')!.hasError('required')">Required UserName!</div>            
        </div>

        <div class="form-floating">
            <input type="password"
                [class.is-invalid]='loginForm.get("password")!.errors && loginForm.get("password")!.touched'
                class="form-control" formControlName='password' id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            <div *ngIf="loginForm.get('password')!.hasError('required')" class="invalid-feedback">Required
                Password!</div>
            <div *ngIf="loginForm.get('password')!.hasError('minlength')" class="invalid-feedback">Password min is: 6</div>
            <div *ngIf="loginForm.get('password')!.hasError('maxlength')" class="invalid-feedback">Password max is: 20
            </div>
        </div>

        <button [disabled]="!loginForm.valid" class="w-100 btn btn-lg btn-success" type="submit">Login</button>
        <button class="w-100 btn btn-lg btn-primary" type="button" (click)="loginWithFacebook()">
            <i class="fab fa-facebook"></i> Sign in with facebook
        </button>
        <button class="w-100 btn btn-lg btn-warning" type="button" routerLink="/register">Register</button>
    </form>
</div>