<div class="row justify-content-center">
    <div class="col-6">
        <div class="card text-center">
            <img class="card-img-top" src="./assets/404.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Error 404 Page not found!</h5>
              <p class="card-text">The page you requested could not be found.</p>              
            </div>
            <div class="card-footer text-muted">
                <a class="btn btn-primary" routerLink='/room'>Go to room</a>
            </div>
          </div>
    </div>
</div>